.filters {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.c-1-color {
    background: #3fb8af !important;
}
/*.c-1-color { background: blue; }*/
.c-2-color {
    background: yellow !important;
}

.handle-disabled.noUi-handle:before {
    content: none !important;
}

.handle-disabled.noUi-handle:after {
    content: none !important;
}

.handle-disabled {
    width: 20px !important;
}

.noUi-tooltip {
    border-radius: 10px !important;
}

.row.margin-top {
    margin-top: 25px;
}

.align-end {
    text-align: end;
}

.leaflet-popup {
    left: -100px !important;
}
.leaflet-popup-content {
    width: 160px !important;
}


/*
CUSTOM CHECKBOX
 */

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkbox-container.barbel input:checked ~ .checkmark {
    background-color: #0099cc;
}

.checkbox-container.sea-lamprey input:checked ~ .checkmark {
    background-color: #e60000;
}

.checkbox-container.pike input:checked ~ .checkmark {
    background-color: #00cc00;
}

.checkbox-container.twaite-shad input:checked ~ .checkmark {
    background-color: #ff00ff;
}

.checkbox-container.zander input:checked ~ .checkmark {
    background-color: #e6e600;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}